body {
    background: #f5e8de;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    color: hsl(14, 45%, 36%);
}

p{
    font-size: 16px;
    font-family: "Outfit", sans-serif;
}


.Inicio {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 375px;
}

.container{
    padding: 0px 60px;
    
}

.titulo h1{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
 
.Preparation{
    background-color: hsl(330, 100%, 98%);
    width: 300px;
    height: 196px;
    border-radius: 20px;
}

.time {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time p {
    color: #4b2e23;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 5px;
}

.time ul, li {
    margin-top: 10px;
    font-weight: 400;
    opacity: 0.9;
}

.time span{
    font-weight: bold;
    opacity: 0.9;
 }


img {
    width: 375px;
    height: auto;
}

.Ingredients{
    border-bottom: 1px solid #ddd;;
}

.Ingredients ul, li {
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    opacity: 0.9;
}

.Instructions {
    border-bottom: 1px solid #ddd;;
}

ol {
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    opacity: 0.9;
    margin-bottom: 10px;
}

.Nutrition {
    display: flex;
    flex-direction: column;
}
.Nutrition table{
    width: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}

.Nutrition th, .Nutrition td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    padding: 10px 30px;
}

.Nutrition td{
    color: #4b2e23;
    font-weight: 600;
}

footer {
    margin-top: 20px;
    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



@media (min-width: 375px) {

    body {
    padding: 50px;
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 800px;

    }

    .Inicio{
        background: #fff;
        padding: 20px;
        border-radius: 20px;
        }
}

@media (min-width: 770px) {
    body {
        padding: 50px;
        }
        
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 800px;
    
        }
    
        .Inicio{
            background: #fff;
            padding: 20px;
            border-radius: 20px;
            }
}